.comment{
    position:fixed;
    right:33px;
    top: 0px;
}
.btn{
    padding: 7px 8px;
    font-size: 15px;
    border-radius: 7px;
}
#btn{
    position: fixed;
    right: 150px;
}
textarea{
    font-size: 20px;
}
